h2, h3 {
  text-align: center;
  font-family: 'Arial' sans-serif;
}
#cuadro {
  background-color: lightblue;
  padding: 0 20px 20px 20px;
}
.navbar-brand h1 {
  font-family: 'Arial' sans-serif;
  text-align: left;
  font-size: 1.5em;
  line-height: .75;
   margin-top: 0;
  margin-bottom: 0;
}
#header-nav {
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 0;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: lightgray;
  text-align: center;
  border: 1px solid black;
}
#collapsable-nav a {
  font-size: 1.2em;
  background-color: grey;
}
#nav-list a:hover {
  background: black;
}
